body {
    background-color: black;
    /*Cor do fundo do elemento*/
}

.links {
    /*Tabela*/
    background-color: #808080;
    /*Cor do fundo do elemento*/
    color: #8cb5d6;
    /*Cor do elemento*/
    display: flex;
    /*Coloca tudo na mesma linha*/
    align-items: center;
    /*Alinha verticalmente*/
    gap: 100px;
    /*Espaço entre os nomes e os links*/
    padding: 40px;
    /*Espaço interno dos elementos*/

}

.topicos {

    padding: 50px;
    margin-top: 150px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-left: 150px;
}

.caixa1 {
    /*Caixa (div)*/
    background-color: #8d8d8d;
    /*Cor do fundo do elemento*/
    color: rgb(255, 255, 255);
    /*Cor do elemento*/
    border: 8px;
    /*Borda*/
    border-radius: 100px;
    /*da forma arredondada conforme nossa escolha*/
    padding: 50px;
    /*Espaçamento interno*/
    margin-top: 45px;
    /*Margin do topo*/
    width: 350px;
    /*Largura*/
    margin-bottom: 100px;
    /*margem de baixo*/
    font-size: 20px;
    /*tamanho da fonte*/
    display: flex;
    /*coloca tudo na mesma linha*/
}

.identificaçao {
    color: white;
    margin-right: 500px;
}

#eu {
    border-radius: 30px;
    padding: 43px;
    width: 290px;
    height: 220px;
    background-color: #808080;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;

}

.caixa-foto {
    text-align: center;
}

.sobre {
    display: flex;

}

#titulo {
    color: #8cb5d6;
    font-size: 6em;
    margin: 0;
}

.lista {
    color: white;
    gap: 50px;
}
#habilidades{
    background-color: rgb(0, 0, 0);
    width: 1336px;
    height: 430px;
}
.caixa-foto23{
    width: 660px;
    height: 330px;
    display: inline-block;
    
}
.caixa-habilidades{
    background-color: #808080;
    color: white;
    border-radius: 50px;
    width: 660px;
    height: 330px;
    display: inline-block;
}
.titu-habilidades{
    color: #808080;
    font-size: 6em;
    margin-bottom: 15px;
}
.caixa-projeto{
    background-color: rgb(0, 0, 0);
    width: 1336px;
    height: 500px;
}
.conteudo-projeto{
    background-color: #808080;
    color: white;
    border-radius: 50px;
    width: 420px;
    height: 460px;
    display: inline-block;
    padding: 10px;
    margin-right: 30px;
    text-align: center;
}
h4{
    font-size: 25px;
}
.conteudo-projet{
    background-color: #808080;
    color: white;
    border-radius: 50px;
    width: 420px;
    height: 475px;
    display: inline-block;
    padding: 10px;
    margin-left: 415px;
    text-align: center;
}
.caixa-contatos{
    background-color: rgb(0, 0, 0);
    width: 1336px;
    height: 1000px;
}
.contato{
    color: #8cb5d6;
    font-size: 6em;
}
.caixa-contat{
    background-color: #808080;
    color: white;
    border-radius: 50px;
    margin: 100px;
    width: 350px;
    height: 200px;
    padding: 20px;
    text-align: center;
    display: inline-block;
}
#foto-contato{
    display: inline-block;;
    
}
.seçao-contato{
    display: flex;
}

